@media (max-width: 700px) {
    .blank-layout-space{
        display: none;
    }
    .content-layout{
        width: 100% !important;
    }
    .content-items{
        padding-left: 0;
        padding-right: 0;
    }
}